name: Node.js CI

on:
  push:
    branches: [ main ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: github-pages
    contents: write
    pages: write
    steps:
        - uses: actions/checkout@v2
        - name: Use Node.js 14.x
          uses: actions/setup-node@v2
          with:
            node-version: 14.x
        - name: Install Dependencies
          run: npm install
        - name: Build
          run: npm run build
        - name: Upload GitHub Pages artifact
          uses: actions/upload-pages-artifact@v2.0.0
          with:
            path: build
        - name: Deploy website
          uses: actions/deploy-pages@v2 # Use this action to deploy the website to GitHub Pages
          with:
            token: ${{ secrets.GITHUB_TOKEN }} # Provide a token for authentication
